#lightbox {
  margin: 0 auto;
  max-width: 1260px;
  min-width: 780px;
  padding: 2% 0;
}

#overlay {
  background-color: black;
  height: 0;
  width: 100%;
  opacity: 0;
  position: fixed;
  top: 0;
  left: 0;
  z-index:1002;
  transition: opacity 1s ease-in;
  -webkit-transition: opacity 1s ease-in;
  -moz-transition: opacity 1s ease-in;
}

#box {
  border: 5px solid white;
  height: 0;
  width: 0;
  opacity: 0;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1003;
  transition: opacity 1s ease-in;
  -webkit-transition: opacity 1s ease-in;
  -moz-transition: opacity 1s ease-in;
}

#box iframe {
  display: none;
}

#image {
  max-width: 35%;
  position: relative;
  z-index: 1001;
  transition: all 1s ease-in-out;
  -webkit-transform: rotate(3deg);
  -webkit-transition: all 0.5s ease-in-out;
  -moz-transform: rotate(3deg);
  -moz-transition: all 0.5s ease-in-out;
}

#image:hover {
  cursor: pointer;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
}

#cross {
  height: 30px;
  width: 30px;
  position: absolute;
  top: -25px;
  right: -25px;
  z-index:1004;
}

#cross:hover {
  cursor: pointer; 
}