html, body{
	background-color:#282828;
}
#container {
}
#top-header{
	background-color:#282828;
	border-bottom:1px solid #454545;
}
#top-header-container{
	height:20px;
	margin: 10px auto;
	text-align:right;
	width:960px;
}
#top-header-container span{
	color:#A5D13D;
	height:20px;
	padding:5px 0;
	font-size:13px;
}
#bottom-header{
	background-color:#333333;
	border-bottom:1px solid #BEFD04;
}
#bottom-header-container{
	height:80px;
	margin:0 auto;
	padding-top: 20px;
	width:960px;
}
#bottom-header-container h1 a{
	color:#CCC;
	font-size: xx-large;
	outline:none;
	text-align:left;
	text-decoration:none;
}
#bottom-header-container h2 a {
	color:white;
	font-size: large;
	outline:none;
	text-align:left;
	text-decoration:none;
}
#bottom-header-container ul{
	color: #CCC;
	display:block;
	float: right;
	font-size: large;
	margin-top:-40px;
	text-align:right;
	width: 400px;
}
#bottom-header-container li{
	display:inline;
	padding-right:20px;
}
#bottom-header-container li a.selected, #bottom-header-container li a:hover {
	color:#A5D13D;
	text-decoration:none;
	outline:none;
}
#bottom-header-container li a {
	color:#8C8C8C;
	text-decoration:none;
	outline:none;
}

#main{
	background-color:#A5D13D;
	border-bottom:1px solid #E6E5E1;
}
#main-container{
	height:500px;
	margin:0 auto;
	width:960px;
}
#main-container-left, #main-container-right{
	margin:20px 0;
}
#main-container-left{
	float: left;
	width: 470px;
	text-align:left;
}
#main-container-right{
	display:block;
	float: right;
}
#main-container-left .intro{
	margin-top:20px;
	padding-bottom: 30px;
}
#main-container-left .introhead{
	font-size:x-large;
	font-weight:bold
}
#main-container-left .introsub{
	font-size:large;
	font-weight:bold
}
#main-container-left .sub1{
	font-size:medium;
	padding-bottom: 20px;
}
#main-container-left .sub2, #main-container-left .sub3{
	font-size:16px;
	padding-bottom: 20px;
}

#videogallery { 
	zoom:1; 
}
#videogallery span{ 
	display:block; 
}
#videogallery a{
	display:-moz-inline-stack;
	display:inline-block;
	*display:inline;
	margin-left:30px;
	opacity:0.87;
	outline: none;
	position:relative;
	text-align:center;
	vertical-align:top;
	zoom:1;
}
#videogallery a img{
	display:block;
	border:none;
	margin:0;
}
#videogallery a:hover{
	opacity:1;
}
#videogallery a#videolb{
	display:none
}

#additional-info{
	background-color:#D1D1D1;
	border-bottom:1px solid #E6E5E1;
}
#additional-info-container{
	height:120px;
	margin:0 auto;
	width:940px;
}
#additional-info-container-left, #additional-info-container-right {
	margin: 14px 0 10px 0;
	text-align:center;
	width:470px;
}
#additional-info-container-left{
	float: left;
}
#additional-info-container-right{
	float: right;
}
.slideshow-header, .slideshow, .slideshow-footer {
	margin-bottom: 10px;
}
.slideshow-header p {
	font-size: x-large;
}
.slideshow p{
	font-size: large;
	width:470px;
}

#footer{
	background-color:#333333;
	border-bottom:1px solid #454545;
}
.footer-container{
	color:#7AC026;
	height:60px;
	margin:0 auto;
	text-align:center;
	width:960px;
}
.footer-container p {
	padding-top:20px;
	font-size:medium;
	color:#8C8C8C;
}
.footer-container a{
	text-decoration:none;
	color:#CCCCCC;
	outline:none;
}
.footer-container span{
	padding-left:20px;
}

#sub-footer{
}
.sub-footer-container{
	color:#7AC026;
	height:60px;
	margin:0 auto;
	text-align:center;
	width:960px;
}
.sub-footer-container p {
	padding-top:20px;
	font-size:small;
	color:#8C8C8C;
}
.sub-footer-container a{
	text-decoration:none;
	color:#CCCCCC;
	outline:none;
}

#main-container-form{
}
#main-container-form .contact-form{
	width:400px;
	text-align:left;
}
#main-container-form .form-input { 
	margin: 5px 0; 
}
#main-container-form .form-input label { 
	display: block; 
	margin-bottom: 10px; 
}
#main-container-form .form-input-capatcha { 
	height: 50px; 
}
#main-container-form .form-input-capatcha-input label { 
	display: block; 
	margin-bottom: 10px; 
}
#main-container-form .form-input-capatcha-input { 
	float: left; 
	height: 50px; 
}
#main-container-form .form-input-capatcha-image { 
	float: right; 
	height: 50px; 
}

#thanks{
	margin: 0 auto;
	padding-top:100px;
	text-align:center;
	width: 450px;
}
#thanks p{
	padding: 20px 0;
}