@import url(https://fonts.googleapis.com/css?family=Damion);

body {
	background: url(../images/bg.png) center center;
}

h1 {
	color: #f2f2f2;
	font-family: 'Damion', cursive;
	font-weight: 100;
	margin-bottom: 0px;
}
h2 {
	color: #ccc;
	font-size: 18px;
	font-size: 1.8rem;
}
h2 a {
	color: #f2f2f2;
}

h3, h5 {
	font-family: 'Damion', cursive;
}

.header, .footer {
	background: #454545;
	color: #f2f2f2;
}
.header {
	border-bottom: #6fbf4d 5px solid;
	margin-bottom: 20px;
	padding: 10px 0;
}

.portfolio {
	padding: 20px 0;
}
.portfolio h5 {
	margin-bottom: 10px;
}

.footer {
	margin-top: 20px;
	padding: 20px 0;
}
.footer .adr {
	padding: 10px 0;
}

@media only screen and (max-width: 1024px) {
	.header {
		padding: 10px 20px;
	}
	.footer {
		padding: 20px;
	}
}
